:root {
    --marge-horizontale: 10vw;
    --marge-superieure: 100px;
}

body {
    margin-left: var(--marge-horizontale);
    margin-right: var(--marge-horizontale);
    margin-top: var(--marge-superieure);
}
