:root{
    --marg_horizontale: 10vw;
}

body {
    margin-top: var(--marg_sup);

    margin-left: var(--marg_horizontale);
    margin-right: var(--marg_horizontale);
/*
    margin-top: var(--marge-superieure);
*/
}
