@media (orientation: portrait) {
    :root {
        --marg_sup: 10vw;
        --dim_largeur-page: 400px;
    }
}

@media (orientation: landscape) {
    :root {
        --hauteur-img: 100%;
    }
}

img {
    height: var(--hauteur-img);
}
/*
    width: var(--largeur-page);
    margin-left: auto;
    margin-right: auto;
*/
}