@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
    /* Pour themeMain.css */
    --couleur-background: #252525;
    --couleur-texte: #9B59B6;
    --couleur-accent: #FF69B4;
    --police-titre: "Great Vibes", cursive;

    /* Pour ce css */
    --taille-titre1: 60px;
    --taille-titre2: 40px;
}

/*
<h1>
    <span class="mattmarket">MattMarket</span><br>
    <span class="digitals">Digitals</span>
</h1>
*/
.mattmarket {
    color: var(--couleur-texte);
    font-size: var(--taille-titre1);
    /*font-weight: bold;*/
}
.digitals {
    color: var(--couleur-accent);
    font-size: var(--taille-titre2);
}